.invalid{
    background-color: #ffb3ba;
}
#botón1{
    background-color: #E6D1F2;
}
#botón1:hover{
    background-color: #bae1ff;
}

#juego{
    position: absolute;
    top: 3px; right: 50px;
    font-size: medium;
    height: 450px;
    font-weight: normal;
    text-shadow: none;
    overflow: scroll;
}
#juego::-webkit-scrollbar {
    width: 10px;
    height: 0;
  }

#juego::-webkit-scrollbar-track {
    background: #9ccaff; 
    border-radius: 50px;
  }

#juego::-webkit-scrollbar-thumb {
    background: rgb(73, 111, 225); 
    border-radius: 6px;
    border: 3px solid #79a3d6;
  }
  
#juego::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255); 
  }

.texto{
    text-shadow: 0 0 0.2em white, 0 0 0.2em white,
		0 0 0.2em white;
    font-weight: bolder;
    font-size: 19px;
}

.botoncito{
    background-color: #bac1ec;
}
.botoncito:hover{
    background-color: #58a1da;
}

.moverse{
    position:absolute;
    right: 990px;
    z-index:-1;
    animation: float 6s ease-in-out infinite;
}
    @keyframes float {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-15px);
        }
        100% {
            transform: translatey(0px);
        }
    }

#mrfantasy1a{
    position:absolute;
    right: 990px;
    z-index:-1;
    animation: appears 4s;
}
@keyframes appears {
    0%   { opacity:0; }
    100% { opacity:1; }
}


#mrfantasy2{
    animation: dissipates 7s;
    animation-fill-mode: forwards;
}

@keyframes dissipates {
    0%   { opacity:1; }
    100% { opacity:0; }
}

#monstruo{
    animation: around 2s forwards;
}

@keyframes around {
    0% {
        transform: translatey(15px);
        transform: translateX(-15px);
        opacity: 1;
    }
    50% {
        transform: translatey(-15px);
        transform: translatex(15px);
        opacity: 1;

    }
    90% {
        transform: translatey(15px);
        transform: translateX(-15px);
        transform: scale(2.0);
        opacity: 0;
    }
    100%{
        transform: translateX(-40px);
        opacity: 0;
    }
}

@keyframes colors {
    100%{background-image: -webkit-repeating-linear-gradient(rgb(83, 34, 34),rgb(255, 42, 42));}
}

#arreglar_la_tabla{
    font-style: normal;
    text-shadow: none;
    font-weight: normal;
    font-size: 15px;
    background-color: rgba(204, 204, 204, 0.377);
    border-collapse: separate;
    border-spacing:  5px;
}

#juego2{
    position: absolute;
    top: 3px; right: 50px;
    font-size: medium;
    font-weight: normal;
    text-shadow: none;
}